.bg-login {
    background-image: url("./assets/Bg-Login2.jpg");
    background-size: cover;
    background-position: center; 
}

html{
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.lgnbtn{
  background-color: rgb(42, 91, 226);
  color: white;
  padding: 12%;
  margin-top: 3%;
}

.fade-in {
  animation: fadeIn 0.9s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Mobile = 480  tablet = 768  laptop HD = 992 / 2K = 1200*/

@media (min-width: 768px) {
  .small-card {
    width: 50% !important;
  }
  
}

@media (min-width: 990px) {
  .small-card {
    width: 40% !important;
  }
 .FlexNone {
  display: flex !important;
}
  
}

@media (min-width: 1200px) {
  .small-card {
    width: 30% !important;
  }
}

@media (max-width: 480px) {
  .btn-group-responsive {
    flex-direction: column !important;
  }

  .btn-group-responsive .btn {
    width: 100% !important;
  }

  .sf input,
  .sf select {
    font-size: 0.9rem !important;
  }

  .small-card {
    width: 85% !important;
  }

  .FlexNone {
    display:block !important;
  }
}



