.bg-login {
    background-image: url("./assets/Bg-Login2.jpg");
    background-size: cover;
    background-position: center; 
}
@media (max-width: 765px) {
  .small-card {
    width: 80% !important;
  }
  
}

@media (max-width: 425px) {
    .btn-group-responsive {
    flex-direction: column !important;
  } 
    .btn-group-responsive .btn {
    width: 100% !important;
  }
  .sf input,select{
    font-size: 0.9rem !important;
  }
}


