.bg-login {
    background-image: url("./assets/Bg-Login2.jpg");
    background-size: cover;
    background-position: center; 
}

html{
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.lgnbtn{
  color: white;
}

.fade-in {
  animation: fadeIn 0.9s ease-in-out;
}

.prd1{
  height: 12rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Mobile = 480  tablet = 768  laptop HD = 992 / 2K = 1200*/

@media (max-width: 768px) and (min-width: 425px) {
  .small-card {
    width: 50% !important;
  }

  .spntag{
    left: 50% !important;
  }
  
}

@media (min-width: 990px) {
  .small-card {
    width: 40% !important;
  }
 .FlexNone {
  display: flex !important;
}
  
}

@media (min-width: 1200px) {
  .small-card {
    width: 30% !important;
  }
}

@media (max-width: 525px) {
  .btn-group-responsive {
    flex-direction: column !important;
  }

  .btn-group-responsive .btn {
    width: 100% !important;
  }

  .sf input,
  .sf select {
    font-size: 0.9rem !important;
  }

  .small-card {
    width: 85% !important;
  }

  .FlexNone {
    display:block !important;
  }

  .HsA{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .HsAItem{
    flex-direction: column;
    align-items: center;
    text-align: start;
  }
  .spntag{
    left: 50% !important;
  }
  .prfl{
    display: flex;
    justify-content: start !important;
    align-items: start;
    z-index: 1;
  }
}



